In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
import snowflake.connector as sc

url = URL(
    account = 'ona89017',
    user = 'SAMANTULAAJAY.KUMAR@LNTINFOTECH.COM',
    password='AjayLti@831',
    database = 'MFG_SOL_DB' ,
    schema = 'LANDING',
    warehouse= 'MFG_SOL_WH',
    role = 'SYSADMIN'
)
engine = create_engine(url)
connection = engine.connect()
query = '''select * from KPI_CALCULATION_TEST'''
data = pd.read_sql(query, connection)
print(data.head())

     brand   location     product   division product_line    assembly_line  \
0  Potomac  Nashville  Clementine  Powetrain     CEM_2501  Assembly Line 5
1  Potomac  Nashville  Clementine  Powetrain     CEM_2501  Assembly Line 5
2  Potomac  Nashville  Clementine  Powetrain     CEM_2501  Assembly Line 5
3  Potomac  Nashville  Clementine  Powetrain     CEM_2501  Assembly Line 5
4  Potomac  Nashville  Clementine  Powetrain     CEM_2501  Assembly Line 5

  machhine_name   shift  down_time  planned_production_time  ...  \
0            H4  Second          0                        1  ...
1            H4  Second          0                        1  ...
2            H4  Second          0                        1  ...
3            H4  Second          1                        1  ...
4            H4  Second          1                        1  ...

   performance_reason_code  availability_reason_code           result_ts  \
0                      NaN                       NaN 2022-11-25 08:02:00
1                      NaN                       NaN 2022-11-25 08:03:00
2                      NaN                       NaN 2022-11-25 08:04:00
3                      6.0                       NaN 2022-11-25 08:05:00
4                      6.0                       NaN 2022-11-25 08:06:00

   av_reason run_time good_product  availability  quality performance   oee
0          0        1            1         100.0     50.0       100.0  50.0
1          0        1            1         100.0     50.0       100.0  50.0
2          0        1            1         100.0    100.0        50.0  50.0
3          0        1            0         100.0      0.0         0.0   0.0
4          0        1            0         100.0      0.0         0.0   0.0

[5 rows x 26 columns]

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296946 entries, 0 to 296945
Data columns (total 26 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   brand                     296946 non-null  object
 1   location                  296946 non-null  object
 2   product                   296946 non-null  object
 3   division                  296946 non-null  object
 4   product_line              296946 non-null  object
 5   assembly_line             296946 non-null  object
 6   machhine_name             296946 non-null  object
 7   shift                     296946 non-null  object
 8   down_time                 296946 non-null  int64
 9   planned_production_time   296946 non-null  int64
 10  planned_production        296946 non-null  int64
 11  quantity_produced         296946 non-null  int64
 12  rejects                   296946 non-null  int64
 13  reject_code               296946 non-null  int64
 14  time                      296946 non-null  object
 15  down_time_reason_code     165721 non-null  object
 16  performance_reason_code   101186 non-null  float64
 17  availability_reason_code  58115 non-null   float64
 18  result_ts                 296946 non-null  datetime64[ns]
 19  av_reason                 296946 non-null  int64
 20  run_time                  296946 non-null  int64
 21  good_product              296946 non-null  int64
 22  availability              296946 non-null  float64
 23  quality                   296946 non-null  float64
 24  performance               296946 non-null  float64
 25  oee                       296946 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(9), object(10)
memory usage: 58.9+ MB

In [18]:
data['time']

0         01-07-2021 08:02
1         01-07-2021 08:03
2         01-07-2021 08:04
3         01-07-2021 08:05
4         01-07-2021 08:06
                ...
296941    06-07-2021 19:20
296942    06-07-2021 19:20
296943    06-07-2021 19:21
296944    06-07-2021 19:21
296945    06-07-2021 19:21
Name: time, Length: 296946, dtype: object

In [19]:
data['date'] = pd.to_datetime(data['time']).dt.date

In [20]:
data[['time','date']]

                    time        date
0       01-07-2021 08:02  2021-01-07
1       01-07-2021 08:03  2021-01-07
2       01-07-2021 08:04  2021-01-07
3       01-07-2021 08:05  2021-01-07
4       01-07-2021 08:06  2021-01-07
...                  ...         ...
296941  06-07-2021 19:20  2021-06-07
296942  06-07-2021 19:20  2021-06-07
296943  06-07-2021 19:21  2021-06-07
296944  06-07-2021 19:21  2021-06-07
296945  06-07-2021 19:21  2021-06-07

[296946 rows x 2 columns]

In [21]:
data.columns

Index(['brand', 'location', 'product', 'division', 'product_line',
       'assembly_line', 'machhine_name', 'shift', 'down_time',
       'planned_production_time', 'planned_production', 'quantity_produced',
       'rejects', 'reject_code', 'time', 'down_time_reason_code',
       'performance_reason_code', 'availability_reason_code', 'result_ts',
       'av_reason', 'run_time', 'good_product', 'availability', 'quality',
       'performance', 'oee', 'date'],
      dtype='object')

In [22]:
data.columns = ['brand', 'Location', 'Product', 'Division', 'product_line',
       'assembly_line', 'Machine', 'shift', 'down_time',
       'planned_production_time', 'Scheduled Units', 'Actual Units',
       'rejects', 'reject_code', 'time', 'down_time_reason_code',
       'performance_reason_code', 'availability_reason_code', 'result_ts',
       'av_reason', 'run_time', 'good_product', 'Availability', 'Quality',
       'Performance', 'OEE', 'Date']
data['Good Units'] = data['Actual Units']- data['rejects']
data['Scrap Units'] = data['rejects']

In [23]:
data.columns

Index(['brand', 'Location', 'Product', 'Division', 'product_line',
       'assembly_line', 'Machine', 'shift', 'down_time',
       'planned_production_time', 'Scheduled Units', 'Actual Units', 'rejects',
       'reject_code', 'time', 'down_time_reason_code',
       'performance_reason_code', 'availability_reason_code', 'result_ts',
       'av_reason', 'run_time', 'good_product', 'Availability', 'Quality',
       'Performance', 'OEE', 'Date', 'Good Units', 'Scrap Units'],
      dtype='object')

In [24]:
data.head()

,brand,Location,Product,Division,product_line,assembly_line,Machine,shift,down_time,planned_production_time,...,av_reason,run_time,good_product,Availability,Quality,Performance,OEE,Date,Good Units,Scrap Units
0,Potomac,Nashville,Clementine,Powetrain,CEM_2501,Assembly Line 5,H4,Second,0,1,...,0,1,1,100.0,50.0,100.0,50.0,2021-01-07,1,1
1,Potomac,Nashville,Clementine,Powetrain,CEM_2501,Assembly Line 5,H4,Second,0,1,...,0,1,1,100.0,50.0,100.0,50.0,2021-01-07,1,1
2,Potomac,Nashville,Clementine,Powetrain,CEM_2501,Assembly Line 5,H4,Second,0,1,...,0,1,1,100.0,100.0,50.0,50.0,2021-01-07,1,0
3,Potomac,Nashville,Clementine,Powetrain,CEM_2501,Assembly Line 5,H4,Second,1,1,...,0,1,0,100.0,0.0,0.0,0.0,2021-01-07,0,0
4,Potomac,Nashville,Clementine,Powetrain,CEM_2501,Assembly Line 5,H4,Second,1,1,...,0,1,0,100.0,0.0,0.0,0.0,2021-01-07,0,0

In [27]:
df_group = data.groupby(["Date","Product","Division","Location","Machine"]).agg({"Availability":"mean", 
                                                                                  "Quality":"mean",
                                                                                  "Performance":"mean",
                                                                                  "OEE" : "mean",
                                                                                  "Scheduled Units":"sum",
                                                                                  "Actual Units":"sum",
                                                                                  "Good Units":"sum",
                                                                                  "Scrap Units":"sum"}).round(2)

In [28]:
df_group

                                                   Availability  Quality  \
Date       Product    Division  Location  Machine
2021-01-07 Clementine Powetrain Nashville H4              80.90    36.12
                                          H5               0.00     0.00
                                          H6               0.00     0.00
                                          H7               0.00     0.00
                                          H8               0.00     0.00
...                                                         ...      ...
2021-12-08 Clementine Powetrain Nashville H6              95.62    27.32
                                          H8              95.21    27.08
2021-12-09 Clementine Powetrain Nashville H4              99.24    39.90
                                          H6              99.24    37.33
                                          H8              99.31    36.74

                                                   Performance    OEE  \
Date       Product    Division  Location  Machine
2021-01-07 Clementine Powetrain Nashville H4             73.70  35.28
                                          H5              0.00   0.00
                                          H6              0.00   0.00
                                          H7              0.00   0.00
                                          H8              0.00   0.00
...                                                        ...    ...
2021-12-08 Clementine Powetrain Nashville H6             25.57  13.66
                                          H8             26.67  14.58
2021-12-09 Clementine Powetrain Nashville H4             84.27  38.89
                                          H6             77.99  35.83
                                          H8             76.15  35.49

                                                   Scheduled Units  \
Date       Product    Division  Location  Machine
2021-01-07 Clementine Powetrain Nashville H4                  1916
                                          H5                  1916
                                          H6                  1916
                                          H7                  1916
                                          H8                  1916
...                                                            ...
2021-12-08 Clementine Powetrain Nashville H6                  1142
                                          H8                  2880
2021-12-09 Clementine Powetrain Nashville H4                  2880
                                          H6                  2880
                                          H8                  2880

                                                   Actual Units  Good Units  \
Date       Product    Division  Location  Machine
2021-01-07 Clementine Powetrain Nashville H4               1412         676
                                          H5                  0           0
                                          H6                  0           0
                                          H7                  0           0
                                          H8                  0           0
...                                                         ...         ...
2021-12-08 Clementine Powetrain Nashville H6                292         156
                                          H8                768         420
2021-12-09 Clementine Powetrain Nashville H4               2427        1120
                                          H6               2246        1032
                                          H8               2193        1022

                                                   Scrap Units
Date       Product    Division  Location  Machine
2021-01-07 Clementine Powetrain Nashville H4               736
                                          H5                 0
                                          H6                 0
                                          H7                 0
                                          H8                 0
...                                                        ...
2021-12-08 Clementine Powetrain Nashville H6               136
                                          H8               348
2021-12-09 Clementine Powetrain Nashville H4              1307
                                          H6              1214
                                          H8              1171

[215 rows x 8 columns]